<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>ListAshop</title>
    <link href="~/Content/css/_about.css" rel="stylesheet" />
    <link href="~/Content/css/_client.css" rel="stylesheet" />
    <link href="~/Content/css/_feature.css" rel="stylesheet" />
    <link href="~/Content/css/_gallery.css" rel="stylesheet" />
    <link href="~/Content/css/_product.css" rel="stylesheet" />
    <link href="~/Content/css/_team.css" rel="stylesheet" />
    <link href="~/Content/css/_timer.css" rel="stylesheet" />
    <link href="~/Content/css/_variables.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/breadcrumb.css" rel="stylesheet" />
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />


</head>
<body>
    <div>
        @Html.Partial("LayoutParts/_Header")
        @Html.Partial("LayoutParts/_BannerArea")

        @RenderBody()
        @Html.Partial("LayoutParts/_Footer")
    </div>
</body>
</html>

<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/contact.js"></script>
<script src="~/js/custom.js"></script>
<script src="~/js/gmaps.min.js"></script>
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/js/jquery.form.js"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/mail-script.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/stellar.js"></script>
<script src="~/js/theme.js"></script>
